h1{color: floralwhite ;
text-align: center;
font-size: 40px ;font-family: monospace;
  
}

body{background: paleturquoise;}

form{margin: 20px 
auto;width: 250px;padding: 20px auto;height:;
  
}

input{padding: 5%;
font-size: inherit}

input[type="text"]
{display: block;
margin: 10%;
  
}

input [type="submit"]{color: lightskyblue;
  display: flex;
}
#submit 
{width:200px;
height: 40px;
background: powderblue;
font: bold;
margin:20px auto;
padding:20pxauto

}


